body, html
  height 100%
  transition all 0.2s
  font-family PingFangSC-Regular, HelveticaNeue-Light, 'Helvetica Neue Light', 'Microsoft YaHei', sans-serif
  -ms-overflow-style none
  overflow -moz-scrollbars-none
  ::-webkit-scrollbar
    display none
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
  -webkit-appearance none
  margin 0
input::-webkit-input-placeholder
  color #b4b4b4
  :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, ::-webkit-input-placeholder
    color #b4b4b4